
/* navigation baar style khushi and Priya */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #264653;
    height: 56px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 26px;
    position: fixed;
    width: 97%;
    font-family: Georgia, serif;
}

.navbar-logo {
    padding: 10px;
    margin-left: 35px;
}
.navbar-logo p{
    color: white;
    font-size: 22px;
    font-family: initial;
}
.navbar-logo p span{
    color: Red;
}
.navbar-logo > img {
    height: 50px;
    /* width: auto; */
    /* margin: 1px 18px; */
} 

.nav {
    line-height: 40px;
}

.nav > a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 0px 12px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 18px;
   
   
}

.nav > a:hover {
color:black;
/* border-radius: 4px; */
/* border-color: #ffffff; */
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 650px;
    /* background: #636363; */
    display: flex;
    
    justify-content: space-around;
}
.para{
    margin: 140px 0px;
    font-size: 33px;
    max-width: 450px;
    color: aliceblue;

}
.para h3 span{
    color: red;
}
.para h3{
    color: blueviolet;
    font-weight: bold;
}
.para p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: black;
 font-weight: bold;
}
.main-img img{
    margin: 60px;
    height: 400px;
    width: 500px;
/* border-radius: 20px; */
}
.service {
    padding: 1px;
    color: aliceblue;
    background-color: black;
    text-align: center;  

}
.course{
   
    height: 650px;
    
    /* background-color:yellow; */
    display: flex;
    justify-content: space-evenly;
}

.course-image1 img{
    margin: 110px 0px 0px 0px;
    height: 300px;
    width: 428px;
    border-radius: 14px;
    max-width: 400px;
    

}
.course-image1{
    max-width: 420px;
}
.course-image2{
    max-width: 420px;
    
}
.course-image3{
    max-width: 420px;

}

.course-image2 img{
    margin: 110px 0px 0px 0px;
    height: 300px;
    width: 428px;
    max-width: 400px;
    border-radius: 15px;
    

}
.course-image3 img{
    margin: 110px 0px 0px 0px;
    height: 300px;
    width: 428px;
    border-radius: 15px;

}

.course-image1 p{
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
    
}
.course-image2 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.course-image3 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.course a{
    text-decoration: none;
    color: black;
}
/* frontend style */
*{
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
}
#htmlImg{
    height: 190px;
    padding: 30px 5px;
    width: 300px;
}
#cssImg{
    height: 190px;
    padding: 30px 5px;
    width: 300px;
}
#jsImg{
    height: 190px;
    padding: 30px 5px;
    width: 300px;
}
#angularImg{
    height: 190px;
    padding: 10px 35px 30px 5px;

}
#reactImg{
    height: 190px;
    padding: 10px 35px 30px 5px;

}
#boostrapImg{
    height: 190px;
    padding: 10px 5px 30px 5px;

}
.frontend-images{
    display: flex;
    flex-direction: column;
    align-items: center;
     background-color: rgb(242, 247, 247);
     
    border: black solid 1px;
}

.frontend-images .section1{
    display: flex;
}
.frontend-images .section2{
    display: flex;
    justify-content: center;
}
.frontend-heading{
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: black solid 1px;
}
.frontend-images .section1 .box h4{
    text-align: center;
    font-size: 20px;
}
.frontend-images .section2 .box h4{
    text-align: center;
    font-size: 20px;
}
/* backend style */
.backend-heading{
    text-align: center;
    background-color:black;
    color: aliceblue;
    font-style:inherit;
    padding: 1px;
    font-size: 16px;

    
    /* justify-content: center; */
}
.backend-courses{
    display: flex;
    flex-direction: column;
    background-color: rgb(226 232 240);
    
}
.backend-courses .section1{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}
.backend-courses .section2{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}
.section1 .box img{
    margin-top: 30px;
    height: 250px;
    width: 400px;
    border-radius: 15px;
    
}
.section2 .box img{
    height: 250px;
    width: 400px;
    border-radius: 15px;
    

}
.section1 .box{
    margin: 10px 10px;
    
}
.section2 .box{
    margin: 10px 10px;
}
.section1 .box h4{
    /* margin: 4px 4px; */
    text-align: center;
    font-size: 20px;
    color:rgb(0, 0, 0);
    /* font-style: oblique; */
    
}
.section1 .box a{
    text-decoration: none;
}

.section2 .box h4{
    /* margin: 4px 4px; */
    text-align: center;
    font-size: 20px;
    color:rgb(0, 0, 0);
    /* font-style: oblique; */
}
.section2 .box a{
    text-decoration: none;
}
/* fotter */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);

}
.contact{
    margin: 20px 0px;
}
.contact li{
    list-style: none;
    color: white;
    margin: 8px 0px;
    /* color: aliceblue; */
    
}
.contact li a{
    text-decoration: none;
    color: white;
}
.services{
    color: aliceblue;

}
.courses{
    margin: 20px 0px;

}
.courses li{
    list-style: none;
    margin: 8px 0px;
}
.courses li a{
    text-decoration: none;
    color: white;
}
.helpline{
    margin: 20px;
}
.helpline li{
    list-style: none;
    margin: 6px 0px;
}
.helpline input{
    width: 200px;
    height: 30px;
}
.helpline li a{
    text-decoration: none;
    color: white;
}